# Directorios y archivos generados por Maven
target/

# Archivos de configuración específicos del IDE
.idea/
*.iml
*.ipr
*.iws

# Archivos y carpetas de Eclipse
.project
.classpath
.settings/

# Archivos de logs
*.log

# Configuraciones específicas del sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación
*.class

# Archivos empaquetados
*.jar
*.war
*.ear

# Archivos temporales
*.tmp
*.bak
*.swp

# Archivos de cobertura de código
coverage/
jacoco.exec

# Archivos de salida de pruebas
test-output/

# Archivos relacionados con herramientas de construcción
mvnw
mvnw.cmd
